*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 300px;
    margin:100px auto;
}
.litteH{
    position: relative;
}
.bodyH{
    position: absolute;
    width: 240px;
    height: 400px;
    border:5px solid #000;
    border-radius: 115px;
    background: rgb(249,217,70);
    overflow: hidden;
    z-index: 2;
}
.bodyH .trousers{
    position: absolute;
    bottom:0;
    width:100%;;
    height: 100px;
    border-top: 6px solid #000;
    background: rgb(32,116,160)
}
.bodyH .trousers_top{
    position: absolute;
    width: 160px;
    height: 60px;
    bottom:99px;
    left:35px;
    border: 6px solid #000;
    border-bottom: none;
    border-radius: 0 0 6px 6px;
    background: rgb(32,116,160)
}
.bodyH .pocket{
    position: absolute; 
    width: 60px;
    height: 44px;
    bottom: 66px;
    left:85px;
    border: 6px solid #000;
    border-radius: 0 0 25px 25px;
}
.bodyH .condoleBelt .left{
    position: absolute; 
    width: 10px;
    height: 100px;
    bottom: 118px;
    left:10px;
    background: rgb(32,116,160);
    border: 5px solid #000;
    -webkit-transform: rotate(-50deg);
    z-index: 2;
}
.bodyH .condoleBelt .right{
    position: absolute; 
    width: 10px;
    height: 100px;
    bottom: 118px;
    right:9px;
    background: rgb(32,116,160);
    border: 5px solid #000;
    z-index: 2;
    -webkit-transform: rotate(50deg);
}
.bodyH .condoleBelt .left:after,.bodyH .condoleBelt .right:after{
    content:"";
    position: absolute;
    height:8px;
    width: 8px;
    background: #000;
    border-radius: 50%;
    top:90px;
    left:1px
}
.bodyH .line_left,.bodyH .line_right{
    position: absolute;
    width: 35px;
    height: 20px;
    left:0;
    top:6px;
    border-bottom: 6px solid #000;
    border-right: 6px solid #000;
    border-radius: 0 0 30px 0;
}
.bodyH .line_right{
    top:7px;
    left:200px;
    border-left: 6px solid #000;
    border-radius: 0 0 0 30px;
}
.bodyH .line_bottom{
    position: absolute;
    left:120px;
    height: 45px;
    bottom:0;
    border-left: 6px solid #000;
}
.eyes{
    position: relative;
    z-index: 3;
}
.eyes .leftEye,.eyes .rightEye{
    position: absolute;
    width:85px;
    height: 85px;
    top:60px;
    left: 30px;
    border: 5px solid #000;
    border-radius: 50%;
    background: #fff;
}
.eyes .rightEye{
    left: 125px;
}
.eyes .leftEye .left_blackEye,
.eyes .rightEye .right_blackEye{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    left: 20px;
    border: 5px solid #000;
    border-radius: 50%;
    background: #000;
}
.eyes .leftEye .left_blackEye .left_white,
.eyes .rightEye .right_blackEye .right_white{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}
.eyes .leftEye::after,.eyes .rightEye::after{
    content: "";
    position: absolute;
    width:27px;
    left:-30px;
    top:37px;
    background: #000;
    border-bottom: 12px solid #000;
    -webkit-transform: rotate(8deg);
}
.eyes .rightEye::after{
    left:89px; 
    -webkit-transform: rotate(172deg);
}
.mouse{
    position: relative;
}
.mouse .mouse_shape{
    width: 55px;
    height: 25px;
    border:5px solid #000;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;    
    background: #fff;
    position: absolute;
    top:175px;
    left:98px;
    z-index: 3;
}
.hands{
    position: relative;
}
.hands .leftHand,
.hands .rightHand{
    position: absolute;
    width: 60px;
    height: 64px;
    top: 230px;
    left: -22px;
    background: rgb(249,217,70);
    border: 5px solid #000;
    border-radius: 17px;
    -webkit-transform: rotate(38deg);
}
.hands .rightHand{
    left: 201px;
    -webkit-transform: rotate(142deg);
}
.hands .leftHand:after,
.hands .rightHand:after{
    content: '';
    width: 6px;
    border:3px solid #000;
    border-radius: 3px;
    position: absolute;
    left:17px;
    top:38px;
    -webkit-transform:rotate(90deg);
}
 
.hands .rightHand:after{
    left:15px;
    top:18px;
    -webkit-transform:rotate(-90deg);
}
.feet{
    position: relative;
}
.feet .left_foot,.feet .right_foot{
    position: absolute;
    top: 393px;
    left:95px;
    width:32px;
    height: 62px;
    background: #000;
    border-radius: 10px;
}
.feet .right_foot{
    left:136px;
}
.feet .left_foot::after,
.feet .right_foot::after{
    content: "";
    position: absolute;
    top: 30px;
    left:-32px;
    width:55px;
    height: 32px;
    background: #000;
    border-radius: 20px 3px 14px 12px;
}
.feet .right_foot::after{
    left:8px;
    border-radius: 0 57px 33px 32px;
}
.groundShadow{
    width: 200px;
    height: 2px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.3);
    position: relative;
    top: 455px;
    left:25px;
}
.hair{
    position: relative;
}
.left_hair_one{
    position: absolute;
    left:17px;
    top:-25px;
    width: 130px;
    height: 100px;
    border-radius: 50%;
    border-top:8px solid #000;
    -webkit-transform:rotate(35deg);
}
.left_hair_two{
    position: absolute;
    left:17px;
    top:-17px;
    width: 130px;
    height: 100px;
    border-radius: 50%;
    border-top:8px solid #000;
    -webkit-transform:rotate(27deg);
}
.left_hair_three{
    position: absolute;
    left:45px;
    top:-10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top:6px solid #000;
    -webkit-transform:rotate(15deg);
}
.right_hair_one{
    position: absolute;
    left:117px;
    top:-25px;
    width: 130px;
    height: 100px;
    border-radius: 50%;
    border-top:8px solid #000;
    -webkit-transform:rotate(-28deg);
}
.right_hair_two{
    position: absolute;
    left:117px;
    top:-17px;
    width: 130px;
    height: 100px;
    border-radius: 50%;
    border-top:8px solid #000;
    -webkit-transform:rotate(-1deg);
}
.right_hair_three{
    position: absolute;
    left:127px;
    top:-10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top:6px solid #000;
    -webkit-transform:rotate(-4deg);
}
/* 动画 */
/* 头发动画 */
.left_hair_one{
    -webkit-animation: lefthair 2s ease-in-out infinite;
}
@-webkit-keyframes lefthair{
    0%,25%,31%,75%,100%{ 
    }
    30%{
        -webkit-transform: rotate(31deg) translate3d(-3px,-1px,0);
    }
}
.right_hair_one{
    -webkit-animation: righthair 2s ease-in-out infinite;
}
@-webkit-keyframes righthair{
    0%,25%,31%,75%,100%{ 
    }
    30%{
        -webkit-transform: rotate(-20deg) translate3d(-3px,-1px,0);
    }
}
/* 脚动画 */
/* 左脚动画 */
.left_foot{
    -webkit-animation: leftFoot 0.8s ease-in-out infinite;
}
@-webkit-keyframes leftFoot{
    0%,50%,100%{ 
        -webkit-transform: rotate(0deg);
    }
    80%{
        -webkit-transform: rotate(10deg);
    }
}
/* 右脚动画 */
.right_foot{
    -webkit-animation: rightFoot 0.8s ease-in-out infinite;
}
@-webkit-keyframes rightFoot{
    0%,50%,100%{ 
        -webkit-transform: rotate(0deg);
    }
    30%{
        -webkit-transform: rotate(-10deg);
    }
}
/* 手动 */
/* 左手 */
.leftHand{
    -webkit-animation: leftHand 1s ease-in-out infinite;
}
@-webkit-keyframes leftHand{
    0%,50%,100%{ 
    }
    80%{
        -webkit-transform: rotate(43deg);
    }
}
/* 右手 */
.rightHand{
    -webkit-animation: rightHand 1s ease-in-out infinite;
}
@-webkit-keyframes rightHand{
    0%,50%,100%{ 
    }
    30%{
        -webkit-transform: rotate(148deg);
    }
}
/* 黑眼珠子 */
.left_blackEye,.right_blackEye{
    -webkit-animation: leftBlackEye 5s ease-in infinite;
}
@-webkit-keyframes leftBlackEye{
    0%,100%{ 
    }
    50%{
        -webkit-transform: translate(0,0);
    }
    30%{
        -webkit-transform: translate(-10px,0);
    }
    80%{
        -webkit-transform: translate(10px,0);
    }
}
/* 白眼珠子 */
.eyes .leftEye .left_blackEye .left_white,
.eyes .rightEye .right_blackEye .right_white{
    -webkit-animation: whiteeye 5s ease-in-out infinite;
}
@-webkit-keyframes whiteeye{
    0%,20%,50%,70%,100%{
        -webkit-transform: translateX(0px);
    }
    30%,40%{
        -webkit-transform: translate3d(-15px,4px,0);
    }
    80%,90%{
        -webkit-transform: translate3d(3px,4px,0);
    }
}
/* 嘴 */
.mouse .mouse_shape{
    -webkit-animation: mouse 5s ease-in-out infinite;
}
@-webkit-keyframes mouse{
    40%,43%{
        width: 45px;
        height: 25px;
        top:180px;
    }
    0%,35%,48%,100%{
        width: 55px;
        height: 35px;
        top:175px;
        -webkit-transform:rotate(-25deg);
    }
}
